
/bin
/obj
Content/obj/DesktopGL/net8.0/Content/.mgcontent
Content/obj/DesktopGL/net8.0/Content/.mgstats
Content/obj/DesktopGL/net8.0/Content/.mgcontent
Content/obj/DesktopGL/net8.0/Content/.mgstats
Content/obj/DesktopGL/net8.0/Content/gun.mgcontent
Content/obj/DesktopGL/net8.0/Content/unit.mgcontent
